* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;
}

.wrapper {
    width: 890px;
    height: 100%;
    margin: 0 auto;
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}

.header__title {
    text-transform: uppercase;
    font-size: 146px;
    letter-spacing: 4px;
    position: relative;
    margin: 32px 0;
    transform: scaleY(1.1);
}

.header__subtitle {
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 6px;
    padding: 4px 64px 4px 64px;
    display: block;
    background: #f5f5f5;
    color: #525252;
    text-wrap: nowrap;
    position: absolute;
    top: 35%;
    left: 25.5%;
}

.header__img {
    width: 100%;
    height: 65vh;
    background: #a3a3a333;
    position: relative;
}

.header__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__img-title {
    width: 420px;
    height: fit-content;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 4px 16px;
    display: block;
    background: #f5f5f5;
    text-wrap: nowrap;
    position: absolute;
    bottom: 5%;
    left: calc(50% - 205px);
}

.summary__container {
    display: flex;
    margin-bottom: 128px;
}

.summary__container-leftSidebar {
    width: 50%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.summary__container-leftSidebar-title {
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 4px;
    text-wrap: nowrap;
}

.summary__container-leftSidebar-img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background: #a3a3a333;
    object-fit: cover;
}

.summary__container-rightSidebar {
    width: 70%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}

.summary__container-rightSidebar-text {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.summary__container-rightSidebar-text:last-child {
    margin-bottom: 0;
}

.summary__container-rightSidebar-title {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 32px;
}

.summary__container-rightSidebar-subTitle {
    display: block;
    text-transform: none;
    letter-spacing: 0;
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
}

.skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 124px 0 240px 0;
}

.skills__title-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__container-title {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 16px;
}

.skills__container-subTitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
    width: 75%;
}

.skills__container-charts {
    display: flex;
    width: 80%;
    height: fit-content;
    position: relative;
}

.charts__numbers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 10%;
    padding: 32px 0;
    margin-right: 16px;
    cursor: pointer;
    text-wrap: nowrap;
}

.charts__numbers-container span {
    font-size: 18px;
    letter-spacing: 0.6px;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}

.charts__numbers-container span:hover {
    color: #3f5efb;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.charts__numbers-container span::after {
    display: block;
    content: "";
    width: 87.5%;
    height: 1px;
    right: 0;
    transform: translateY(-10px);
    background: #525252;
    position: absolute;
}

.charts__rows-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 244px;
    border: 2px solid #a3a3a3;
    border-radius: 12px;
}

.charts__rows-container div {
    cursor: pointer;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    bottom: -20px;
    background: transparent;
}

.charts__rows-container div > span:first-child {
    display: block;
    width: 24px;
    height: 50%;
    background: linear-gradient(to bottom, #3f5efb, #fc466b);
    background-size: 300% 300%;
    background-position: 25% 25%;
    position: relative;
    top: 0;
    border-radius: 0;
    transition: all 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

#chart1 {
    height: 45%;
}

#chart2 {
    height: 39%;
}

#chart3 {
    height: 58%;
}

#chart4 {
    height: 31%;
}

#chart5 {
    height: 74%;
}

#chart6 {
    height: 56%;
}

#chart7 {
    height: 69%;
}

#chart8 {
    height: 45%;
}

.charts__rows-container div > span:first-child > span {
    position: absolute;
    top: -32px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.charts__rows-container div > span:first-child:hover > span {
    opacity: 1;
}

.charts__rows-container div > span:first-child:hover {
    top: -16px;
    border-radius: 8px;
    background-position: 0 100%;
}

.charts__rows-container div > span:last-child {
    width: fit-content;
    display: block;
    position: relative;
    bottom: -16px;
    left: -0%;
    text-wrap: nowrap;
    text-align: center;
    background: transparent;
}

.project__container {
    margin-bottom: 128px;
}


.project__container-first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    width: 100%;
    height: 100%;
    margin-bottom: 128px;
}

.first__grid-item.empty {
    background-color: transparent;
}

.first__grid-item img {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    object-fit: cover;
    border-radius: 12px;
}

.first__grid-item.text {
    max-width: 1024px;
    background: transparent;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.first__grid-item.text h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

.first__grid-item.text p {
    font-size: 18px;
    line-height: 24px;
}

.project__container-second {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    height: 100%;
}

.second__image-large {
    width: 445px;
    height: 890px;
    border-radius: 16px;
    background: #a3a3a3;
}

.second__image-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.second__sidebar-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 890px;
    max-width: 1024px;
}

.second__content {
    margin-bottom: 32px;
}

.second__content h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

.second__content p {
    font-size: 18px;
    line-height: 24px;
}

.second__image-small {
    width: 90%;
    height: 100%;
    border-radius: 16px;
    background: #a3a3a3;
}

.second__image-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.footer__container {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.footer__title {
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 16px;
}

.footer__text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}

.footer__largeImage {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    background: #a3a3a3;
}

@media screen and (min-width: 2560px) {
    .wrapper {
        width: 60%;
    }

    .header {
        margin-bottom: 256px;
    }

    .header__title {
        font-size: 240px;
    }

    .header__subtitle {
        width: 710px;
        text-align: center;
        font-size: 36px;
        left: calc(50% - 350px);
    }

    .header__img-title {
        width: 520px;
        font-size: 36px;
        left: calc(50% - 260px);
    }

    .summary__container {
        margin-bottom: 256px;
    }

    .summary__container-leftSidebar-title {
        font-size: 46px;
        margin-bottom: 32px;
    }

    .summary__container-leftSidebar-img {
        width: 325px;
        height: 325px;
    }

    .summary__container-rightSidebar-text {
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 28px;
    }

    .summary__container-rightSidebar-title {
        font-size: 36px;
    }

    .summary__container-rightSidebar-subTitle {
        font-size: 24px;
    }

    .project__container {
        margin-bottom: 256px;
    }

    .project__container-first {
        margin-bottom: 256px;
    }

    .first__grid-item.text {
        display: flex;
        justify-content: end;
    }

    .first__grid-item.text h2 {
        font-size: 46px;
    }

    .first__grid-item.text p {
        font-size: 24px;
    }

    .project__container-second {
        justify-content: end;
    }

    .footer__title {
        font-size: 46px;
    }

    .footer__text {
        font-size: 24px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 890px) {
    .wrapper {
        padding: 0 32px;
        overflow: hidden;
    }

    .header__title {
        font-size: 100px;
    }

    .header__subtitle {
        padding: 4px 0;
    }

    .header__img-title {
        width: 320px;
        font-size: 20px;
        left: calc(50% - 160px);
    }

    .first__grid-item.text p {
        line-height: 20px;
    }

    .project__container {
        height: fit-content;
    }

    .second__content p {
        line-height: 20px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        width: 100%;
        padding: 0 16px;
        overflow: hidden;
    }

    .header__title {
        font-size: 58px;
    }

    .header__subtitle {
        padding: 0 8px;
        font-size: 16px;
        letter-spacing: 2px;
    }

    .header__img-title {
        width: 210px;
        font-size: 14px;
        letter-spacing: 0.3px;
        left: calc(50% - 105px);
    }

    .skills__container {
        display: block;
    }

    .charts__rows-container > div:nth-child(3),
    .charts__rows-container > div:nth-child(4),
    .charts__rows-container > div:nth-child(7),
    .charts__rows-container > div:nth-child(8) {
        display: none;
    }


    .summary__container {
        flex-direction: column;
    }

    .summary__container-leftSidebar {
        width: 100%;
    }

    .summary__container-leftSidebar-title {
        margin-bottom: 16px;
    }

    .summary__container-leftSidebar {
        margin-bottom: 32px;
    }

    .summary__container-rightSidebar {
        width: 100%;
    }

    .project__container-first {
        display: flex;
        flex-direction: column;
    }

    .first__grid-item.text h2 {
        font-size: 24px;
    }

    .first__grid-item.text p {
        font-size: 16px;
        letter-spacing: 0.3px;
        line-height: 18px;
    }

    .project__container-second {
        justify-content: normal;
        flex-direction: column;
    }

    .second__content h2 {
        font-size: 24px;
    }

    .second__content p {
        font-size: 16px;
        letter-spacing: 0.3px;
        line-height: 18px;
    }

    .second__image-large {
        width: 100%;
        height: auto;
    }

    .second__sidebar-right {
        width: 100%;
        height: 100%;
    }

    .second__image-small {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .skillscontainer {
        display: flex;
        align-items: end;
    }

    .chartsnumbers-container span::after {
        width: 85%;
    }
}